#bg4 {
    /* Set the background image */
    background-image: url('../img/4_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#taskform {
    /* Set for the task form */
    width: 600px;
    margin-top: 50px;
    margin-left: 50%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.form-row {
    /* Add margin bottom for form rows */
    margin-bottom: 20px;
}

label {
    /* Display labels as block elements with bold font weight and margin bottom */
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    /* Set text inputs, number inputs, date inputs, and training */
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#taskSubmit {
    /* Style the task submit button */
    background-color: #ff6347;
    color: white;
    border: none;
    width: 80%;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ff4d32;
}

h2 {
    margin-top: 50px;
    text-align: center;
}